    <!-- BEGIN: Content-->
<section id="data-list-view" class="data-list-view-header">
  @if (ViewBag.er != null)
{
    <p class="alert alert-success">@ViewBag.er</p>
}
  <!-- DataTable starts -->
  <div class="table-responsive">
    <table class="table data-list-view">
      <thead>
          <tr>
          <th></th>
          <th>ردیف</th>
          <th>نام و نام خانوادگی</th>
          <th> نام  کاربر </th>
          <th> شماره تماس  </th>
           <th>  رمز </th>
             <th>  آدرس </th>
          <th>کارت ملی</th>
          <th>وضعیت</th>
          <th>عملیات </th>
        </tr>
      </thead>
      <tbody>
@if (ViewBag.list != null)
{
  int i=1;
    foreach (var item in ViewBag.list)
    {
       @if (item.UserNameUs == "admin" || item.UserNameUs == "info@nikatak.ir")
       {
         
       }else
       {
          <tr>
          <td></td>
          <td class="product-category"> @i</td>
           <td class="product-category"> @item.NameFamily</td> 
          <td class="product-name">@item.UserNameUs</td>
            <td class="product-category">@item.PhoneUs </td>
            <td class="product-category">@item.PasswordUs </td>
            <td class="product-category">@item.AddressUs </td>
            
             <td class="product-category">
               <a href="/fileupload/@item.ProfileImageUs" target="blank">مشاهده</a>
               
                </td>
           <td class="product-action">
             <div class="mb-1">
                <div class="btn-group" role="group" aria-label="Basic example">
                  
                    <a href="#" class="btn btn-success btn-sm" onclick="return confirm('آیا از تایید رکورد مورد نظر مطمئن هستید؟')">تایید</a>
                    <a href="#" class="btn btn-warning btn-sm" onclick="return confirm('آیا از رد رکورد مورد نظر مطمئن هستید؟')">عدم تایید</a>

                  @* <button type="button" class="btn btn-success  btn-sm">ارسال</button>
                  <button type="button" class="btn btn-warning  btn-sm">  منتظراقدام</button> *@
                </div>
              </div>
          </td>
        </tr>
        i++;

       }
         
    }
}
      

       




      </tbody>
    </table>
  </div>
  <!-- DataTable ends -->

  <!-- add new sidebar starts -->
 
  <!-- add new sidebar ends -->
</section>
<!-- Data list view end -->
